html,body{
  height:100%;
  padding:0;
  margin:0;
  background-color: #212F3D;
}
*{
  box-sizing:border-box;
	font-family: 'Unbounded', cursive;
	text-align: center;
  color: azure;
}
.box{
  position: relative; 
  margin-left: 31em;
  width:900px;
  height:650px;
  background: radial-gradient(ellipse closest-side, rgba(49, 138, 172, 0.4) 0%,#212F3D);
}

.containerBox{
  
  width:100%;
  height:100%;
  background-color:#ccc;
  
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.casilla {
  position: absolute;
 
}

.puchero {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 42%;
}


/*Estilo*/

h5{
  font-size: 15px;
}
.butTurno{
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgb(14, 77, 14);
  position: relative;
  border: 2px solid #318aac;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.butTurno:hover{
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 40px;
  text-shadow: 1px 1px 6px #fff;
  cursor: pointer;
}
.inicio {
  color: azure !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #97231f;
  transition: all 1s ease;
  position:   relative;
}
.inicio:hover {
  background: #971611;
  box-shadow: 0 4px 16px #9c4c49;
  color: #fff !important;
  cursor: pointer;
}
#turno{
  width: 100%;
}
#jugs{
  margin-top: 30px;
  margin-left: 8em;
  display: flex;
}
#j1 div{
  width: 80%;
}
#j2 div{
  width: 80%;
}
#j3 div{
  width: 80%;
}
#j4 div{
  width: 80%;
}
#j5 div{
  width: 80%;
}
