html,body{
    padding:0;
    margin:0;
    width: 100%;
    background-color:#ccc;
  }
  /**{
    box-sizing:border-box;
  }*/
  .turno{
    width: 20%;
  }
  .box{
    position: relative;
    width:900px;
    height:650px;
    background-color:grey;
  }

  .juego{
    display: flex;
  }
  
  .container{
    
    width:100%;
    height:100%;
    background-color:#ccc;

    justify-content:center;
    align-items:center;
    
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20%;
    width: 100%;
  }
  .pun{
    display: flex;
    justify-content: center;
  }
  .puntos{
    margin-top: 3em;
    width: 20%;
    background-color: darkblue;
    color: darkturquoise;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    border-radius: 10px;
  }
  .col{
    display: flex;
    width: 100%;
  }
  .casilla {
    position: absolute;
   
  }
  
  .puchero {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 42%;
  }

  header{
    display: flex;
    width: 100%;
  }

  section{
    display: flex;
    width: 50%;
  }

  #j1{
    display: none;
    width: 33%;
    flex-wrap: wrap;
  }
  #j1 h1{
    display: flex;
    width: 100%;
  }
  #j1 h5{
    display: flex;
    width: 50%;
  }
  #j1 p{
    display: flex;
  }

  #j2{
    display: none;
    width: 33%;
    flex-wrap: wrap;
  }
  #j2 h1{
    display: flex;
    width: 100%;
  }
  #j2 h5{
    display: flex;
    width: 50%;
  }
  #j2 p{
    display: flex;
    width: 50%;
    align-items: flex-start;
  }

  #j3{
    display: none;
    width: 33%;
    flex-wrap: wrap;
  }
  #j3 h1{
    display: flex;
    width: 100%;
  }
  #j3 h5{
    display: flex;
    width: 50%;
  }
  #j3 p{
    display: flex;
    width: 50%;
  }

  #j4{
    display: none;
    width: 50%;
    flex-wrap: wrap;
  }
  #j4 h1{
    display: flex;
    width: 100%;
  }
  #j4 h5{
    display: flex;
    width: 50%;
  }
  #j4 p{
    display: flex;
    width: 50%;
  }

  #j5{
    display: none;
    width: 50%;
    flex-wrap: wrap;
  }
  #j5 h1{
    display: flex;
    width: 100%;
  }
  #j5 h5{
    display: flex;
    width: 50%;
  }
  #j5 p{
    display: flex;
    width: 50%;
  }
